/*Вертикальные табы { */

* {margin: 0; padding: 0;}
body {margin: 30px; font: 13px/1.5 "Trebuchet MS", Tahoma, Arial;}
a {color: #0094D6;}
p {padding: 7px 0;}
h1 {font-size: 21px; font-weight: normal; margin: 0 0 30px;}

.section {
	width: 600px;
	background: #00EFEF;
	margin: 30px;
}
ul.tabs {
	height: 28px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #DDD;
	background: #FFF;
}
.tabs li {
	float: left;
	display: inline;
	margin: 0 1px -1px 0;
	padding: 0 13px 1px;
	color: #777;
	cursor: pointer;
	background: #F9F9F9;
	border: 1px solid #E4E4E4;
	border-bottom: 1px solid #F9F9F9;
	position: relative;
}
.tabs li:hover,
.vertical .tabs li:hover {
	color: #F70;
	padding: 0 13px;
	background: #FFFFDF;
	border: 1px solid #FFCA95;
}
.tabs li.current {
	color: #444;
	background: #EFEFEF;
	padding: 0 13px 2px;
	border: 1px solid #D4D4D4;
	border-bottom: 1px solid #EFEFEF;
}
.box {
	display: none;
	border: 1px solid #D4D4D4;
  border-width: 0 1px 1px;
	background: #EFEFEF;
	padding: 0 12px;
}
.box.visible {
	display: block;
}

.section.vertical {
	width: 75%;
	border-left: 160px solid #FFF;
}
.vertical .tabs {
	width: 160px;
	float: left;
	display: inline;
	margin: 0 0 0 -160px;
}
.vertical .tabs li {
	padding: 0 13px;
	margin: 0 0 1px;
	border: 1px solid #E4E4E4;
	border-right: 1px solid #F9F9F9;
	width: 132px;
	height: 25px;
}
.vertical .tabs li:hover {
	width: 131px;
}
.vertical .tabs li.current {
	width: 133px;
	color: #444;
	background: #EFEFEF;
	border: 1px solid #D4D4D4;
  border-right: 1px solid #EFEFEF;
  margin-right: -1px;
}
.vertical .box {
  border-width: 1px;
}
/*Вертикальные табы } */





/* Подключение шрифта Google */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic");

/* Базовые стили демо-страницы */
body {
    font: 1em/1.67 'Open Sans', Arial, Sans-serif;
    margin: 0;
    background: #e9e9e9;
}

/* Стили верхней навигации демо-страницы */
.nav-top {
	background: #3B7BAD;
	position: fixed;
	text-transform: uppercase;
    top:0;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
	z-index: 9999;
}

.nav-top a {
	color:#FFCE84;
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.nav-top a:hover {
	color: #e74c3c;
	background: rgba(255,255,255,0.6);
}

.nav-top span.right {
	float: right;
}

.nav-top span.right a {
	float: left;
	display: block;
}

/* Заголовок демо-страницы */
h1{
    text-align: center;
    font-weight: 400;
}

/* Общий контейнер */
.wrapper {
    width: 100%;
    margin: 3em auto;
}

/* ------------- Контейнер с адаптивными блоками------------- */
.masonry {
    margin: 1.5em 0;
    padding: 0;
    column-gap: 1.5em; /* Общее расстояние между колонками */
    font-size: .85em;
    -moz-column-gap: 1.5em; /* Расстояние между колонками для Firefox */
    -webkit-column-gap: 1.5em; /* Расстояние между колонками  для Safari, Chrome и iOS */
}

/* Элементы в виде плиток с содержанием */
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */ 
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */ 
    box-shadow: 2px 2px 4px 0 #ccc; /* Внешняя тень плиток */
}

/* Стили картинок, видое и фреймов внутри адаптивных плиток */
img, iframe {
max-width: 100%;
height: auto;
display: block;
}


form{
        width: 200px;
  		border: 1px solid rgb(100, 100, 100); 
			padding: 5px 5px 5px 5px; 
			background: rgb(240, 240, 240);
      }

.search{		

      border: 1px solid rgb(100, 100, 100); 
			color: rgb(25, 25, 25); 
			padding: 5px 2px 5px 30px; 
      }





/* Стили ссылок внутри плиток */
.item a {
text-decoration: none;
color: #359CC6;
margin: 0 10px;
}

/* Стили ссылок при наведении */
.item a:hover {
color: #E88F00;    
border-bottom: 1px dotted #9F1D35;
}

/* Медиа-запросы для различных размеров адаптивного макета */
@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}

/* Спойлер {*/
spoilcnt{margin: 0px;  padding: 6px;  border: 1px inset; width: 200px}
smallfont{margin-bottom:2px;width:100%}
spoil{margin:10px; margin-top:5px;}
input.input-button{width:100%}
/* Спойлер }*/
