.mycenter {
 
display: block;
 
margin: 100px auto;
 
width: 50%;
 
}
 
.info_c {
 
 border-top: 8px solid rgb(255, 145, 20);
 
position: relative;
 
background: #fefefe;
 
text-align: center;
 
}
 
.info_c:after {
 
content: '';
 
position:absolute;
 
width: 0;
 
height: 0;
 
border:10px solid rgb(255, 145, 20);
 
border-bottom: 0 solid rgba(0, 0, 0, 0)!important;
 
border-right: 10px solid rgba(0, 0, 0, 0)!important;
 
border-left: 10px solid rgba(0, 0, 0, 0)!important;
 
left:10%;
 
top:0;
 
margin-left: -10px;
 
}
 
.info_c h4 {
 
font-size: 2.5em;
 
color: #333;
 
font-weight: 700;
 
padding-top: 0.5em;
 
padding-bottom: 0.5em;
 
}
 
#wc {
 
  display: block;
 
  width: 100%;
 
  margin: 5% auto;
 
  background: none;
 
}
 
 
 
#wcontent {
 
  display: block;
 
  background: #fff;
 
  padding: 0 15px;
 
  margin-right: 22%;
 
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfdfdf));
 
background: -webkit-linear-gradient(#fff 0%, #dfdfdf 100%);
 
background: -moz-linear-gradient(#fff 0%, #dfdfdf 100%);
 
background: -o-linear-gradient(#fff 0%, #dfdfdf 100%);
 
background: -ms-linear-gradient(#fff 0%, #dfdfdf 100%);
 
-webkit-box-shadow: 0 2px 3px #ccc, 0 0 4px 3px #fff inset;
 
-o-box-shadow: 0 2px 3px #ccc, 0 0 4px 3px #fff inset;
 
-moz-box-shadow: 0 2px 3px #ccc, 0 0 4px 3px #fff inset;
 
box-shadow: 0 2px 5px #ccc, 0 0 4px 3px #fff inset;
 
  min-height: 250px;
 
}
 
#wcontent div {
 
color: #333;
 
font-size: 1em;
 
}
 
#wcontent div ul {
 
list-style-type: square;
 
margin-left: 1em;
 
}
 
#wcontent div ul li {
 
padding-left: 0.1em;
 
}
 
#wcontent div h2 {
 
text-align: center;
 
color: rgb(255, 121, 0);
 
font-size: 1.3em;
 
font-weight: 400;
 
text-transform: uppercase;
 
text-shadow: 1px 1px #bbb;
 
  -o-text-shadow: 1px 1px #bbb;
 
  -webkit-text-shadow: 1px 1px #bbb;
 
  -moz-text-shadow: 1px 1px #bbb;
 
}
 
#wcontent img {
 
float: left;
 
margin: 0.5em;
 
border: 1px solid #bbb;
 
box-shadow: 0 1px 2px rgba(0,0,0,.2);
 
}
 
#wcontent label {
 
float: left;
 
width: 30%;
 
margin-right: 1em;
 
color: #333222;
 
font-size: 0.9em;
 
}
 
#wcontent input {
 
border: 1px solid #333;
 
border-radius: 5px;
 
width: 60%;
 
}
 
#wcontent label, #wcontent input {
 
margin-top: 0.5em;
 
margin-bottom: 0.5em;
 
}
 
#wcontent div div::first-letter {
 
font-size: 2.7em;
 
color: #9e0508;
 
float: left;
 
margin: 0 4px 2px 0;
 
}
 
.wcontentblock {
 
  display: block;
 
  padding: 15px 10px;
 
}
 
.wcontentblock.hidden {
 
  display: none;
 
}
 
#sidemenu {
 
  margin: 0;
 
  padding: 0;
 
  width: 22%;
 
  float: right;
 
  background: #b8b8b8;
 
  border-left: 1px solid #c9c9c9;
 
}
 
#sidemenu li {
 
display: block;
 
text-align: center;
 
border-top: 1px solid #fff;
 
font-size: 1em;
 
font-weight: 400;
 
}
 
#sidemenu li a { 
 
  display: block;
 
  padding: 6px 2px;
 
  color: #555;
 
  text-decoration: none;
 
  border-bottom: 1px solid #d1d1d1;
 
}
 
#sidemenu li a:hover {
 
  background: #f2f2f2;
 
}
 
#sidemenu li a strong { 
 
  display: block;
 
  margin-top: 5px;
 
}
 
#sidemenu li a.open {
 
 width: 101%;
 
 background: #fff;
 
 font-size: 1.1em;
 
  font-weight: 500;
 
  text-shadow: 1px 1px #ddd;
 
}
 
.fa-red {
color:#ff030d;
}